# ==================================
# 1. C/C++ 빌드/컴파일 결과물
# ==================================

# CMake 빌드 디렉토리 (가장 중요)
build/
cmake-build-debug/
cmake-build-release/

# 오브젝트 파일 및 라이브러리
*.o
*.a
*.so
*.dylib

# 실행 파일 (프로젝트 이름)
cRoboticsController_wrapper_cpp

# ==================================
# 2. Python (자동 생성 파일)
# ==================================

# 파이썬 캐시 폴더
__pycache__/
*.pyc

# VENV (가상 환경 폴더)
venv/
.venv/
.conda/
env/
